<div>
<h1>Selected posts by a Specified User<h1>
  <% @user.posts.each do |post| %>
    <p>Post #<%= post.id %>: <%= post.text %></p>
    <%= link_to "View Post", user_post_path(@user, post) %>
  <% end %>
</div>
